:root {
  --font: 'Open Sans', sans-serif;
  --primary-color: #FE724C;
  --primary-hover-color: #df6442;
  --text-color: #000000;
  --text-secondary-color: #5B5B5E;
  --white-color: #FFFFFF;
  --separator-color: #D4D6E0;

  --hover-shadow: 0px 6px 24px 0px rgba(254, 114, 76, 0.20);
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}